<div class="center jumbotron">
  <% provide(:title, "Home") %>
  <h1>Welcome to Hero App!</h1>

    <h2>This is the home page for the HeroApp</h2>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
