<div class="center jumbotron">
  <% provide(:title, "Home") %>
  <h1>Welcome to Hero App!</h1>
  <br>
  <br>
  <br>
  <% if !logged_in? %>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <%= link_to "New user", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
